@model MATEOPUGAeXAMENII.Models.MPLIBRO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MPLIBRO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_NombreLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_NombreLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_HoraAgregacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_HoraAgregacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_Nuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_Nuevo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MP_LibroID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
