@model MATEOPUGAeXAMENII.Models.MPLIBRO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MPLIBRO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_NombreLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_NombreLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_HoraAgregacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_HoraAgregacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MP_Nuevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MP_Nuevo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MP_LibroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
